.impress-supported .fallback-message {
	display: none;
}
.step{
	opacity: 0;
	min-width: 960px;
}

.notes { display: none; }
.step.active{
	opacity: 1;}

	#title {
		padding: 10px;
	}
	#title .title {
		font-size: 72px;
		font-weight: bold;
	}

	#title .title-color {
		color: #B46565;
	}

	#title .meta {
		margin-top: 40%;
	}